body {
    display:box;
    overflow-x: hidden;
    margin:0;
    font-family: 'Monserrat', sans-serif;
    color:rgb(35, 36, 36);
}


nav {
    height:11vh;
    position:relative;
    
    background:rgb(35, 36, 36);
    width:100vw;
    
}

nav ul{
    position:relative;
    top:2.4vh;
    left:35vw;
    list-style-type: none;
    text-align:left;
    margin:0;
    
}

nav ul li {
    display:inline;
    margin:20px;
    
}

nav ul li a {
    text-decoration: none;
    color:ghostwhite;
    font-size:22px;
    font-weight:45px;
    
    
}

#easterLink {
    color:rgb(109, 199, 230);
}

#stilllifeLink {
    color:rgb(250, 93, 93);
}

#logo {
    position:relative;
    right:35vw;
    font-size:45px;
    bottom:-7px;
}

#bold {
    font-weight:bold;
}   

section {
    height:100vh;
}

#section1 {
    background-image:url('IMG/frontpage.svg');
    position:Relative;
    height:100vh;
    bottom:9vh;

}

.introText {
    color:ghostwhite;
    position:relative;
    left:10vw;
    top:25vh;
}

h1 {
    font-size:100px;
    position:relative;
}

h2{
    position:relative;
    width:30vw;
    font-weight:lighter;
    bottom:2em; 
}

#icons {
    position:relative;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:35vw;
    bottom:2.5em;
    right:12px;
   

}

#icons img {
    width:45px;
    height:45px;
    padding-top:5px;
    
}

.social {
    background:ghostwhite;
    margin: 0 5%;
    text-align:center;
    padding:10px;
    border-radius:30px;
}

.social a{
    text-decoration:none;
    color:rgb(35, 36, 36);
    position:relative;
    bottom:15px;
    font-size:25px;
}
#mailBackground {
    background:white;
    width:30%;
    border-radius:40px;
    margin-left:10px;
}

#mail {
    position:relative;
    left:10px;
    top:10px;  
}

#twitter{
    position:relative;
    right:15px;
}

#section2 {
    text-align:center;
    background-image:url("IMG/aboutmepage.svg");
    margin-top:0;
    position:relative;
    bottom:8.55em;
    
}

#section2 h1 {
    position:relative;
    right:15px;
    top:2em;
    font-size:80px;

}

.skills {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:40%;
    position:relative;
    top:8em;
    left:3.5%;
    opacity:0;
    
}

.skill_box {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin: 0 50px;
    width:25vw;
    text-align:center;
    background-color:rgb(216, 216, 216);
    box-shadow:2px 2px rgba(0, 0, 0, 0.247);
}

.skill_box img {
    position:relative;
    width:115%;
    border-radius:250px;
    right:40px;
    bottom:20px;
}

.skill_box h2 {
    position:Relative;
    right:10%;
    bottom:25px;
    font-size:45px;
    font-weight:Bolder;
}

.skill_box ul {
    position:relative;
    list-style-type: none;
    bottom:30px;
    right:17px;
}

.skill_box ul li {
    margin-top:10px;
    font-weight:lighter;
}

#technical img{
    position:relative;
    left:-1.8em;
}

#creative img{
    position:relative;
    right:1.6em;
    top:-10px;

}

#social img{

    position:RElative;
    top:-10px;
    right:1.7em;

}

#section3 {
    position:relative;
    text-align:center;
    top:8.55em;
    background-image: url('IMG/eastercard.svg');
    
}

#section3 h1 {
    
}

#section3 p {
    margin-top:10%;
    margin-left:25%;
    margin-right:25%;
    width:50%;
    font-weight:lighter;
    font-size:25px;
    
}

#easter_card_vid {
    position:relative;
    top:2.5%;
    width:50%;
    
    margin-left:25%;
    margin-right:25%;
}

#section3 a {
    position:relative;
    width:100%;
    margin: 0 25%;
    background:purple;
    text-decoration:none;
    color:white;
    padding:25px 50px;
    border-radius:50px;
    top:5em;
    font-size:25px;
    
}

#section3 a:hover {
    background:rgb(90, 56, 90);
    cursor:pointer;
}

#section4{
    position:relative;
    top:15.8em;
    text-align:center;
    background-image:url('img/still_life.svg');
    height:120vh;
    
    
}

#section4 h1 {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    position:relative;
   
}

#section4 p {
    margin-top:10%;
    margin-left:25%;
    margin-right:25%;
    width:50%;
    font-weight:lighter;
    font-size:25px;
    
}

#section4 a {
    position:relative;
    width:100%;
    margin: 0 25%;
    background:purple;
    text-decoration:none;
    color:white;
    padding:25px 50px;
    border-radius:50px;
    top:30em;
    font-size:25px;
}

#section4 a:hover{
    background:rgb(90, 56, 90);
    cursor:pointer;
}

#still_life_vid {
    position:RElative;
    width:50%;
    right:25%;
    left:0;
    
}

#play {
    width:50px;
    position:relative;
    top:8.5px;
    right:10px;
}

